{% load static %}
<div class="header-top">
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'polls/images/logo.png' %}" alt="" ></a>
    </div>
    <div class="header-top-on">
        <ul class="social-in">
            <li><a href="#"><i> </i></a></li>						
            <li><a href="#"><i class="ic"> </i></a></li>
            <li><a href="#"><i class="ic1"> </i></a></li>
            <li><a href="#"><i class="ic2"> </i></a></li>
            <li><a href="#"><i class="ic3"> </i></a></li>
        </ul>
    </div>
        <div class="clearfix"> </div>
</div>